<suite name = "Automation Suite" allow-return-values="true" verbose="3" parallel="classes" thread-count="3">
<!--<test name = "testngTest" parallel="classes" thread-count="2">-->
 <test name = "testngTest">
     <classes>

         <class name="Gateway.TestRBdigital_Gateway_QA" />
         <class name="Gateway.TestReportsInGlobalAdmin_QA" />
         <class name="Gateway.TestReportsInLocalAdmin_QA" />
         <class name="Gateway.TestLocalAdmin_QA" />
         <class name="Gateway.TestServicesCheckouts_QA" />
         <class name="API_tests.Tests_API_NA_PROD_Platform" />
         <class name="API_tests.Tests_API_NA_QA_Platform" />
         <class name="Gateway.PROD.TestRBdigital_Gateway_PROD" />
         <class name="Gateway.UAT.TestRBdigital_Gateway_UAT" />
         <class name="Gateway.STAGE.TestRBdigital_Gateway_Stage" />

     </classes>

 </test>

</suite>